
a:link, a:visited{
backgound-color:red;
color:white;
padding:14px 25px;
text-align:centre;
text-decoration:none;
display:inline-block;
border;2px solid black;
border-radius:10px;
}
a:hover, a:active{
backgound-color:green;
color:white;
}
