.certificates {
    color:blue;
    text-decoration: none; 
  }

.certificates:hover {
    color:red;
    text-decoration: none; 
  }
.certificate1:link, .certificate1:visited {
  background-color: red;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border:2px solid black;
  border-radius:10px;
    margin:0 auto;
}

.certificate1:hover, .certificate1:active {
  background-color: green;
}

  body {
    /* set the background color here */
    background-color: beige;
    /* set the text color to black here */
    color:blue;
    /* set the font here */
    font-family:Arial,Helvetica,serif;
    /* set the text alignment here */
    text-align:center;
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
 /* ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }*/
  
    
